@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --txt-body-color: #fff;
    --black: #000;
    --white: #fff;
    --l-red: #b30000;
    --b-red: #570000;
    --grey: rgb(202, 202, 202);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand';
    color: var(--txt-body-color);
}

header {
    width: 100%;
    padding: 50px 0%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
    transition: .5s;
}

header.scrolling {
    background-color: black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 20px;
    padding-top: 25px;
}

.resp__header {
    display: none;
}

.header__container {
    max-width: 1280px;
    margin: auto;
    text-transform: uppercase;
    font-weight: 600;
    font-size: large;
}

.btn__icon {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.flex__container {
    display: flex;
    justify-content: space-between;
}

.prism__logo img {
    width: 7.5rem;
    position: relative;
    bottom: 15px;
}

.nav__header ul {
    display: flex;
    list-style: none;
}

.nav__header ul li {
    display: inline-block;
    margin: 0 30px;
    transition: .2s;
}

.nav__header ul li:hover {
    font-size: larger;
    border-bottom: solid 2px var(--white);
}

.nav__header ul li a {
    text-decoration: none;
    color: var(--white);
}

.play__btn .btn {
    font-family: 'Quicksand';
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 65px;
    background-color: var(--b-red);
    color: var(--white);
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 2px;
    transition: .2s;
}

.play__btn .btn:hover {
    background-color: var(--l-red);
}

.banner__home,
.banner__game,
.banner__prism,
.shadow {
    width: 100%;
    height: 100vh;
}

.container {
    background-color: var(--black);
}

.banner__home {
    background-image: url(/images/home-background.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    clip-path: polygon(0 0,100% 0,100% 96%,0 100%);
}

.banner__home button {
    font-family: 'Quicksand';
    border: none;
    border-radius: 10px;
    height: 70px;
    width: 150px;
    background-color: var(--b-red);
    color: var(--white);
    font-size: larger;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 2px;
    transition: .2s;
}

.banner__home button:hover {
    background-color: var(--l-red);
}

.banner__home img {
    width: 30rem;
    padding-bottom: 50px;
}

.banner__game {
    background-image: url(/images/game-background.jpeg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0,100% 4%,100% 96%,0 100%);
}

.banner__game .shadow {
    background: linear-gradient(90deg,rgba(0,0,0,.85),rgba(0,0,0,.7) 50%,transparent 65%);;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
}

.banner__game .game__desc {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    width: 50rem;
}

.banner__game .game__desc span {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 30px;
}

.banner__game .game__desc p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner__game .game__desc .spacing {
    font-weight: 600;
    padding-top: 50px;
}

.banner__prism {
    background-image: url(/images/about-background.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__prism .shadow {
    background: linear-gradient(270deg,rgba(0,0,0,.85),rgba(0,0,0,.7) 50%,transparent 65%);;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
}

.banner__prism .prism__desc {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    width: 50rem;
}

.banner__prism .prism__desc span {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 30px;
}

.upd__section {
    background-color: var(--grey);
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0,100% 4%,100% 96%,0 100%);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all .5s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transition: all .5s;
}

footer {
    background: var(--black);
    width: 100%;
    height: 10vh;
    display: inline-block;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: var(--grey);
}

.logo__footer img {
    width: 10rem;
    position: relative;
    bottom: 30px;
}

.social__medias img {
    width: 2rem;
    transition: .1s;
}

.social__medias img:hover {
    width: 2.1rem;
}

/* Mobile responsive */

@media screen and (max-width: 768px) {
    header.scrolling {
        padding-top: 50px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .flex__container {
        display: none;
    }

    .resp__header {
        display: flex;
        justify-content: center;
    }

    .resp__header .prism__logo {
        display: flex;
        justify-content: right;
        position: relative;
        bottom: 10px;
    }
    .resp__header .prism__logo img{
        width: 8.5rem;
    }

    .resp__header .nav_resp__header ul li {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .resp__header .nav_resp__header ul {
        list-style: none;
        padding-left: 15px;
    }

    .resp__header .nav_resp__header ul li a {
        text-decoration: none;
        color: var(--txt-body-color);
    }

    .resp__header .nav_resp__header ul li a:hover {
        border-bottom: solid 2px var(--white);
    }

    .banner__home img,
    .banner__game img,
    .banner__prism img {    
        width: 100%;
        height: auto;
    }

    .banner__home .home__logo {
        width: 250px;
    }

    .banner__home {
        background-image: url(/images/mobile/home-banner-mobile.png);
        background-position: center;
    }

    .banner__game {
        background-image: url(/images/mobile/game-banner-mobile.png);
    }

    .banner__game .shadow {
        background: linear-gradient(180deg,rgba(0,0,0,.85),rgba(0,0,0,.7) 20%,transparent 65%);
    }

    .banner__game .game__desc {
        padding-left: 21.5px;
        padding-right: 15px;
    }

    .banner__game .game__desc p {
        font-size: 20px;
    }

    .banner__prism {
        background-image: url(/images/mobile/prism-banner-mobile.png);
        background-position: center;
    }

    .banner__prism .shadow {
        background: linear-gradient(180deg,rgba(0,0,0,.85),rgba(0,0,0,.7) 20%,transparent 65%);
    }

    .banner__prism .prism__desc {
        padding-left: 21.5px;
        padding-right: 15px;
    }

    .banner__prism .prism__desc p {
        font-size: 20px;
    }

    .footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .logo__footer img {
        width: 10rem;
    }

    .social__medias img {
        width: 1.8rem;
        padding-top: 15px;
        margin: 0 5px;
    }

}